<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    function filterUpdate() {
      data = {
        metric: $("#metric_filter").val(),
        groupBy: $("#group_by_filter").val(),
        searchCriteria: createSearchCriteriaJSON()
      }

      // Make API calls to update the data
      apiAJAX(data, $("#view_type").val(), 'json', updateChartCallback);
      apiAJAX(data, 'table', 'text', updateTableCallback);

      // Update the titles
      $("#chart_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
      $("#table_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
    }

    function updateChartCallback(result){
      $("#metric_chart").empty();

      if (result.response.length == 0) {
        data = [{ label: "No Pull Requests", data: 1, color:'#E0E0E0' }];
      }
      else {
        data = result.response;
      }

      viewType = $("#view_type").val()

      if (viewType == "pie") {
        options = PIE_OPTIONS;
      }
      else if (viewType == "bar") {
        result = parsePieToBar(data);
        var data = result.data;
        var options = result.options;
      }
      else {
        options = LINE_OPTIONS;
      }

      $.plot($("#metric_chart"), data, options);
    }
    
    function updateTableCallback(result){
      $("#table_container").empty();
      $("#table_container").html(result);

      //makeAsDataTable("#metric_table")
      $("table#metric_table").dataTable(TABLE_OPTIONS);
    }

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      $("#metric_filter").change(function () {
        filterUpdate()
      });

      $("#group_by_filter").change(function () {
        filterUpdate()
      });

      $("#view_type").change(function () {
        filterUpdate()
      });

      // Load initial  chart
      $.plot($("#metric_chart"), $.parseJSON('<%= raw @chart_data_str %>').response, PIE_OPTIONS);
    });

  </script>
<% end %>



<%###############%>
<%# Body Section %>
<%###############%>
<% if @last_updated %>
  <div style="float:right">Last Data Load: <%= @last_updated.load_start_time.strftime("%m/%d/%Y %I:%M%P") %></div>
<% end %>

<h2>Filters</h2>
Metric:
 <select id="metric_filter">
    <option value="prs">Pull Requests</option>
    <option value="avg_days_open">Average Days Opened</option>
    <option value="percent_merged">Percent Merged</option>
    <option value="commits">Commits</option>
  </select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Group By: 
 <select id="group_by_filter">
    <option value="month">Month</option>
    <option value="quarter">Quarter</option>
    <option value="year">Year</option>
    <option value="repository">Repository</option>
    <option value="state">State</option>
    <option value="company" selected>Company</option>
    <option value="user">User</option>
  </select>

<br><br>

<%= render 'shared/search_criteria' %>


<hr>

<div style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;" >
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Requests Grouped By Company</p>
<a href="#" class="tooltip"><%= image_tag "tooltip.gif" %><span style="font-size: 15px;">  
This pie chart represents all pull requests submitted to the Cloud Foundry Github repositories during the specifed time period. <br> Each slice represents a separate company, and the size of each slice is proportional to the company's quantity of contributions. 
<br>
Each of the top 5 contributers have their own slice of the pie chart. The remaining contributers are then merged together into the "Others" slice.
</span></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
<div>
    View As:
    <select id="view_type" >
        <option value="pie">Pie Chart</option>
        <option value="bar">Bar Chart</option>
        <option value="line">Line Chart</option>
    </select>
  </div>
</div>

<%# ----------------- %>
<%# This is the Chart %>
<%# ----------------- %>
<div id="metric_chart"></div>


<%# ----------------- %>
<%# This is the Table %>
<%# ----------------- %>
<br><br>
<p id="table_title" style="margin-bottom: 0; padding-bottom: 0; font-size:20px; display:inline;"> 
Pull Requests Sorted By Company
</p>


<a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 15px;">  
This table displays the amount of pull requests submitted by each contributer.
</span></a>
<% @table_handle = "metric_table" %>
<% @table_data = @metric_data %>
<% @label_header = @table_label_header %>
<% @data_header = @table_data_header %>
<% @label_index_name = @label_index_name %>
<% @data_index_name = @data_index_name %>
<% @table_data_width = "500" %>

<div id="table_container">
  <%= render 'shared/hash_as_table' %>
</div>
<script type="text/javascript">$('#<%= @table_handle %>').dataTable(TABLE_OPTIONS);</script>