<script type="text/javascript">
  $(function() {
    $( document ).tooltip();
  });

  function filterUpdate() {
    metric = $("#metric_filter").val()
    groupBy = $("#group_by_filter").val()
    month = $("#month_filter").val()
    quarter = $("#quarter_filter").val()
    year = $("#year_filter").val()
    startDate = $("#start_date_filter").val()
    endDate = $("#end_date_filter").val()
    repo = $("#repo_filter").val()
    state = $("#state_filter").val()
    company = $("#company_filter").val()
    user = $("#user_filter").val()

    // Make API calls to update the data
    apiAJAX(metric, groupBy, month, quarter, year, startDate, endDate, repo, state, company, user, 'prs_chart', 'json', updateChartCallback);
    apiAJAX(metric, groupBy, month, quarter, year, startDate, endDate, repo, state, company, user, 'prs_table', 'text', updateTableCallback);

    
    $("#chart_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
    $("#table_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
    
    if (($("#metric_filter").val() == "prs") || ($("#metric_filter").val() == "commits"))  {
    $("#line-graph-container").show();  
    apiAJAX(metric, groupBy, month, quarter, year, startDate, endDate, repo, state, company, user, 'prs_line_graph', 'json', updateLineGraphCallback);
    }
    else {
      $("#line-graph-container").hide();
    }
    //apiAJAX(month, quarter, year, repo, state, 'company_table', 'text', updatePRsCompanyTableCallback);
    //apiAJAX(month, quarter, year, repo, state, 'monthly_line_graph', 'json', updateMonthlyLineGraphCallback);
  }

  function updateChartCallback(result){
    $("#metric_chart").empty();
    if (result.response.length == 0) {
      data = [{ label: "No Pull Requests", data: 1, color:'#E0E0E0' }];
    }
    else {
      data = result.response;
    }

    if ($("#view_type").val() == "bar") {
      result = parsePieToBar(data);
      var data = result.data;
      var options = result.options;
    }
    else {
      options = PIE_OPTIONS;
    }

    $.plot($("#metric_chart"), data, options);
  }

  
  function updateTableCallback(result){
    $("#table_container").empty();
    $("#table_container").html(result);
    makeAsDataTable("#metric_table")
  }

  function clearSearchCriteria(){
    whereDropDownIds = ["month_filter", 
                        "quarter_filter", 
                        "year_filter", 
                        "repo_filter", 
                        "state_filter", 
                        "company_filter", 
                        "user_filter"];

    // Clear all the dropdowns
    for ( id in whereDropDownIds ) {
      $("#" + whereDropDownIds[id]).val("");
    }

    // Clear the date range
    $("#start_date_filter").val("");
    $("#end_date_filter").val("");

    // Update chart now that values have been reset
    filterUpdate();
  }


  function updateLineGraphCallback(result){
    $.plot($("#prs_line_graph"), result.response, LINE_OPTIONS);
  }

  //
  // Initial Page Load Activities
  //
  $(document).ready(function () {
    $("#metric_filter").change(function () {
      filterUpdate()
    });

    $("#group_by_filter").change(function () {
      filterUpdate()
    });

    $("#month_filter").change(function () {
      filterUpdate()
    });

    $("#quarter_filter").change(function () {
      filterUpdate()
    });

    $("#year_filter").change(function () {
      filterUpdate()
    });

    $("#repo_filter").change(function () {
      filterUpdate()
    });

    $("#state_filter").change(function () {
      filterUpdate()
    });

    $("#company_filter").change(function () {
      filterUpdate()
    });

    $("#user_filter").change(function () {
      filterUpdate()
    });

    $("#start_date_filter").change(function () {
      filterUpdate()
    });

    $("#end_date_filter").change(function () {
      filterUpdate()
    });

    $("#view_type").change(function () {
      filterUpdate()
    });

    $("#clear_search_criteria_button").click(function () {
      clearSearchCriteria();
    });

    $(function() {
      $( "#start_date_filter" ).datepicker({
        showOn: "button",
        buttonImage: "<%= image_path "calendar.png" %>",
        buttonImageOnly: true
      });
    });

    $(function() {
      $( "#end_date_filter" ).datepicker({
        showOn: "button",
        buttonImage: "<%= image_path "calendar.png" %>",
        buttonImageOnly: true
      });
    });

    // Load initial  chart
    $.plot($("#metric_chart"), $.parseJSON('<%= raw @chart_data_str %>').response, PIE_OPTIONS);
  });

</script>



<h1 style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;">GitHub Repository Analytics with Filtering 

<a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 15px;">  
GitHub Repository Analytics with Filtering (GRAF) is a web service that has the ability to collect and visually represent useful statistics on various Github repositories. At the moment, this application is only collecting data on repositories hosted by the "CloudFoundry" Github organization. We plan to expand this application to collect data on repositories from other organizations (Openstack, Openshift, etc.) in the near future.
<br><br>
These statistics are collected through the Github API. We use the API's functions to gather information on every "Pull Request" that has been contributed to the CloudFoundry repositories. Once this data has been successfully collected and stored into our database, our application allows the user to generate figures that are customized by timeframe, repository, company, etc.
<br><br>
Company affiliation is determined by polling each Github user's profile. If a user does not have an affliated company listed on their profile, the application then checks to see whether the user is a member of any corporate Github organizations. If they are not, the user is assumed to be independent.
<br>
</span> </a>
</h1>


<hr>
<div style="float:right">Last Data Load: <%= @last_updated.load_start_time.strftime("%m/%d/%Y %I:%M%P") %></div>

<h2>Filters</h2>
Metric:
 <select id="metric_filter">
    <option value="prs">Pull Requests</option>
    <option value="avg_days_open">Average Days Opened</option>
    <option value="percent_merged">Percent Merged</option>
    <option value="commits">Commits</option>
  </select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Group By: 
 <select id="group_by_filter">
    <option value="month">Month</option>
    <option value="quarter">Quarter</option>
    <option value="year">Year</option>
    <option value="repository">Repository</option>
    <option value="state">State</option>
    <option value="company" selected>Company</option>
    <option value="user">User</option>
  </select>

<br><br>

<h2>Search Criteria:</h2>

<table>
  <tr>
    <td>
      Month:
    </td>
    <td>
      <select id="month_filter" style="width: 100px;">
        <option value="" selected>All</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State:
    </td>
    <td>
      <select id="state_filter">
        <option value="" selected>All</option>
        <option value="open">Open</option>
        <option value="merged">Merged</option>
        <option value="closed">Closed (Not Merged)</option>
      </select>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Repository:
    </td>
    <td>
      <% @drop_down_id = "repo_filter" %>
      <% @drop_down_data = @repos %>
      <% @drop_down_data_index = "name" %>
      <% @drop_down_empty_label = "All" %>
      <% @drop_down_selected = nil %>
      <% @drop_down_width = "500px" %>
      <%= render 'drop_down' %>
    </td>
    <td rowspan="3">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="clear_search_criteria_button">Clear Search Criteria</button>
    </td>
  </tr>
  <tr>
    <td>
      Quarter:
    </td>
    <td>
      <select id="quarter_filter" style="width: 100px;">
        <option value="" selected>All</option>
        <option value="q1">Q1</option>
        <option value="q2">Q2</option>
        <option value="q3">Q3</option>
        <option value="q4">Q4</option>
      </select>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start Date:
    </td>
    <td>
      <input type="text" id="start_date_filter" size="20">
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company:
    </td>
    <td>
      <% @drop_down_id = "company_filter" %>
      <% @drop_down_data = @companies %>
      <% @drop_down_data_index = "name" %>
      <% @drop_down_empty_label = "All" %>
      <% @drop_down_selected = nil %>
      <% @drop_down_width = "500px" %>
      <%= render 'drop_down' %>
    </td>
  </tr>
  <tr>
    <td>
      Year:
    </td>
    <td>
      <select id="year_filter" style="width: 100px;">
        <option value="" selected>All</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
      </select>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date:
    </td>
    <td>
      <input type="text" id="end_date_filter" size="20">
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User:
    </td>
    <td>
      <% @drop_down_id = "user_filter" %>
      <% @drop_down_data = @users %>
      <% @drop_down_data_index = "login" %>
      <% @drop_down_empty_label = "All" %>
      <% @drop_down_selected = nil %>
      <%= render 'drop_down' %>
    </td>
  </tr>
</table>


<hr>

<div style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;" >
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Requests Grouped By Company</p>
<a href="#" class="tooltip"><%= image_tag "tooltip.gif" %><span style="font-size: 15px;">  
This pie chart represents all pull requests submitted to the Cloud Foundry Github repositories during the specifed time period. <br> Each slice represents a separate company, and the size of each slice is proportional to the company's quantity of contributions. 
<br>
Each of the top 5 contributers have their own slice of the pie chart. The remaining contributers are then merged together into the "Others" slice.
</span></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
<div>
View As:
<select id="view_type" >
    <option value="pie">Pie Chart</option>
    <option value="bar">Bar Chart</option>
</select>
</div>
</div>



<%# ----------------- %>
<%# This is the Chart %>
<%# ----------------- %>
<div id="metric_chart"></div>


<%# ----------------- %>
<%# This is the Table %>
<%# ----------------- %>
<br><br>
<p id="table_title" style="margin-bottom: 0; padding-bottom: 0; font-size:20px; display:inline;"> 
Pull Requests Sorted By Company
</p>


<a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 15px;">  
This table displays the amount of pull requests submitted by each contributer.
</span></a>
<% @table_handle = "metric_table" %>
<% @table_data = @metric_data %>
<% @label_header = @table_label_header %>
<% @data_header = @table_data_header %>
<% @label_index_name = @label_index_name %>
<% @data_index_name = @data_index_name %>
<% @table_data_width = "500" %>

<div id="table_container">
  <%= render 'hash_as_table' %>
</div>
<script type="text/javascript">makeAsDataTableOnLoad('#<%= @table_handle %>');</script>


<%# ---------------- %>
<%# This needs to go %>
<%# ---------------- %>
<script type="text/javascript">
  $(function() {
    var data =  [  { "label": "Pivotal", "data" : [["1301641200000", 1], ["1304233200000", 1], ["1309503600000", 2], ["1314860400000", 1], ["1322726400000", 2], ["1333263600000", 1], ["1357027200000", 19], ["1359705600000", 57], ["1362124800000", 39], ["1364799600000", 53], ["1367391600000", 79], ["1370070000000", 95], ["1372662000000", 64], ["1375340400000", 99], ["1378018800000", 85], ["1380610800000", 52], ["1383289200000", 32], ["1385884800000", 63], ["1388563200000", 16]] },   { "label": "", "data" : [["1301641200000", 15], ["1304233200000", 18], ["1306911600000", 8], ["1309503600000", 1], ["1312182000000", 3], ["1314860400000", 6], ["1317452400000", 2], ["1320130800000", 2], ["1322726400000", 8], ["1325404800000", 5], ["1328083200000", 6], ["1330588800000", 3], ["1333263600000", 1], ["1335855600000", 2], ["1338534000000", 1], ["1341126000000", 3], ["1343804400000", 2], ["1349074800000", 1], ["1354348800000", 1], ["1357027200000", 15], ["1359705600000", 55], ["1362124800000", 60], ["1364799600000", 29], ["1367391600000", 30], ["1370070000000", 25], ["1372662000000", 25], ["1375340400000", 40], ["1378018800000", 13], ["1380610800000", 30], ["1383289200000", 26], ["1385884800000", 41]] },   { "label": "VMware", "data" : [["1330588800000", 2], ["1357027200000", 1], ["1359705600000", 15], ["1362124800000", 20], ["1364799600000", 3], ["1367391600000", 7], ["1370070000000", 16], ["1372662000000", 9], ["1375340400000", 8], ["1378018800000", 4], ["1380610800000", 4], ["1383289200000", 3], ["1385884800000", 12], ["1388563200000", 2]] },   { "label": "IBM", "data" : [["1375340400000", 3], ["1378018800000", 7], ["1380610800000", 22], ["1383289200000", 18], ["1385884800000", 22], ["1388563200000", 3]] },   { "label": "Innovation Factory", "data" : [["1362124800000", 1], ["1367391600000", 1], ["1370070000000", 1], ["1372662000000", 6], ["1375340400000", 10], ["1378018800000", 5], ["1380610800000", 3], ["1383289200000", 1], ["1385884800000", 5]] } ];

    $.plot($("#prs_line_graph"), data, LINE_OPTIONS);
  });

</script>
<div id="line-graph-container" style="float:left" class="prs-line-graph-container">


<center><h1 id="line_graph_title" style="display:inline;" >
Contributions per month</h1>
  <a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 15px;">
  In this line graph, we compare the activity of the top five Pull Request contributors over the specified time period. Here, the y axis represents the quantity of contributions, and the x axis represents the timeframe in which the contribution was submitted  
  </span></a></center>

  <div id="prs_line_graph" class="prs-line-graph"></div>
</div>
