<style type="text/css">
#user_prs_chart { width: 660px; height: 660px; font-size:18px; position:relative; }
#company_prs_chart { width: 660px; height: 660px; font-size:18px; position:relative; }
#user_tbl_ctr { width: 600px; height: 660px; font-size:18px; position:relative; }
#company_tbl_ctr { width: 600px; height: 660px; font-size:18px; position:relative; }
</style>

<script type="text/javascript">

  function makeAsDataTableOnLoad(tableHandleIdStr) {
    $(document).ready( function () {
      makeAsDataTable(tableHandleIdStr)
    } );
  }

  function makeAsDataTable(tableHandleIdStr) {
    $(tableHandleIdStr).dataTable({
      "sScrollY": "350px", "sScrollX": "500px",
      "bPaginate": false,
      "bSort": false,
      "bAutoWidth" : true,
      "bFilter": true
    } );
  }


  function filterUpdate() {
    timeframe = $("#quarter_filter").val()
    year = $("#year_filter").val()
    apiAJAX(timeframe, year, 'user_chart', 'json', updatePRsUserChartCallback);
    apiAJAX(timeframe, year, 'user_table', 'text', updatePRsUserTableCallback);
    apiAJAX(timeframe, year, 'company_chart', 'json', updatePRsCompanyChartCallback);
    apiAJAX(timeframe, year, 'company_table', 'text', updatePRsCompanyTableCallback);
  }

  function apiAJAX(timeframe, year, data_request, response_type, callback){
    $.ajax({
        url: "api?timeframe=" + timeframe + "&year=" + year + "&data_request=" + data_request,
        method: 'GET',
        dataType: response_type,
        success: callback
    });
  }

  function updatePRsUserChartCallback(result){
    $("#user_prs_chart").empty();
    options = {
         series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.04
                }       
            }
         },
         legend: {
            labelBoxBorderColor: "none"
         }
    }

    $.plot($("#user_prs_chart"), result.response, options);
  }

  function updatePRsUserTableCallback(result){
    $("#user_tbl_ctr").empty();
    $("#user_tbl_ctr").html(result);
    makeAsDataTable("#user_prs_table")
  }

  function updatePRsCompanyChartCallback(result){
    $("#company_prs_chart").empty();
    options = {
         series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.04
                }       
            }
         },
         legend: {
            labelBoxBorderColor: "none"
         }
    }

    $.plot($("#company_prs_chart"), result.response, options);
  }

  function updatePRsCompanyTableCallback(result){
    $("#company_tbl_ctr").empty();
    $("#company_tbl_ctr").html(result);
    makeAsDataTable("#company_prs_table")
  }

  $(document).ready(function () {
    $("#quarter_filter").change(function () {
      filterUpdate()
    });

    $("#year_filter").change(function () {
      filterUpdate()
    });
  });

</script>

<h1>GitHub Repo Analytics for graPHing</h1>
<hr>

<h2>Filters</h2>
  Quarter: 
  <select id="quarter_filter">
    <option value="" selected>Any</option>
    <option value="q1">Q1</option>
    <option value="q2">Q2</option>
    <option value="q3">Q3</option>
    <option value="q4">Q4</option>
  </select>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Year: 
  <select id="year_filter">
    <option value="" selected>Any</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
  </select>
<br><br>
<hr>


<% @table_handle = "pr_days_elapsed_table" %>
<% @table_data = @avg_days_elapsed %>
<% @label_header = "Company" %>
<% @data_header = "Average Days Elapsed" %>
<% @label_index_name = "name" %>
<% @data_index_name = "avg_days_open" %>  

<%= render 'hash_as_table' %>
<script type="text/javascript">
$("#pr_days_elapsed_table").dataTable({
      "sScrollY": "350px", "sScrollX": "500px",
      "bPaginate": false,
      "bSort": false,
      "bAutoWidth" : true,
      "bFilter": true
    } );
</script>
<table cellpadding="50px"><tr><td>
  <h2>Contributions by User</h2><br>
  <%# For User Statistics %>
  <% @chart_handle = "user_prs_chart" %>
  <% @chart_data = @prs_by_user_pie_str %>
  <%= render 'pie_chart' %>
  <div id="user_prs_chart"></div>
<br><br>
  <% @table_handle = "user_prs_table" %>
  <% @table_data = @prs_by_user %>
  <% @label_header = "User" %>
  <% @data_header = "Contributions" %>
  <% @label_index_name = "login" %>
  <% @data_index_name = "num_prs" %>
  <div id="user_tbl_ctr">
  <%= render 'hash_as_table' %>
  </div>
  <script type="text/javascript">makeAsDataTableOnLoad('#<%= @table_handle %>');</script>

</td><td>
  <h2>Contributions by Company</h2><br>
  <%# For Company Statistics %>
  <% @chart_handle = "company_prs_chart" %>
  <% @chart_data = @prs_by_company_pie_str %>
  <%= render 'pie_chart' %>
  <div id="company_prs_chart"></div>
<br><br>
  <% @table_handle = "company_prs_table" %>
  <% @table_data = @prs_by_company %>
  <% @label_header = "Company" %>
  <% @data_header = "Contributions" %>
  <% @label_index_name = "name" %>
  <% @data_index_name = "num_prs" %>	
  <div id="company_tbl_ctr">
  <%= render 'hash_as_table' %>
  </div>
  <script type="text/javascript">makeAsDataTableOnLoad('#<%= @table_handle %>');</script>


</td></tr></table>