<style type="text/css">
#prs_chart { width: 450px; height: 450px; font-size:18px; position:relative; }
#prs_tbl_ctr { width: 450px; height: 450px; font-size:18px; position:relative; }
</style>



<script type="text/javascript">
  $(function() {
    $( document ).tooltip();
  });

  colors = ['#B82E2E', '#2EB82E', '#C75000', '#6629A3', '#2966A3', '#649ED8'];

  function makeAsDataTableOnLoad(tableHandleIdStr) {
    $(document).ready( function () {
      makeAsDataTable(tableHandleIdStr)
    } );
  }

  function makeAsDataTable(tableHandleIdStr) {
    $(tableHandleIdStr).dataTable({
      "sScrollY": "350px", "sScrollX": "500px",
      "bPaginate": false,
      "bSort": false,
      "bAutoWidth" : true,
      "bFilter": true
    } );
  }


  function filterUpdate() {
    metric = $("#metric_filter").val()
    groupBy = $("#group_by_filter").val()
    month = $("#month_filter").val()
    quarter = $("#quarter_filter").val()
    year = $("#year_filter").val()
    repo = $("#repo_filter").val()
    state = $("#state_filter").val()
    company = $("#company_filter").val()
    user = $("#user_filter").val()
    apiAJAX(metric, groupBy, month, quarter, year, repo, state, company, user, 'prs_chart', 'json', updatePRsChartCallback);
    apiAJAX(metric, groupBy, month, quarter, year, repo, state, company, user, 'prs_table', 'text', updatePRsTableCallback);
    //apiAJAX(month, quarter, year, repo, state, 'company_chart', 'json', updatePRsCompanyChartCallback);
    //apiAJAX(month, quarter, year, repo, state, 'company_table', 'text', updatePRsCompanyTableCallback);
    //apiAJAX(month, quarter, year, repo, state, 'monthly_line_graph', 'json', updateMonthlyLineGraphCallback);
  }

  function apiAJAX(metric, groupBy, month, quarter, year, repo, state, company, user, data_request, response_type, callback){
    $.ajax({
        url: "api?groupBy=" + metric + "&group_by=" + groupBy + "&month=" + month + "&quarter=" + quarter + "&year=" + year + "&repo=" + repo + "&state=" + state + "&company=" + company + "&user=" + user + "&data_request=" + data_request,
        method: 'GET',
        dataType: response_type,
        success: callback
    });
  }

  function updatePRsChartCallback(result){
    $("#prs_chart").empty();
    options = {
         series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.04
                }       
            }
         },
         legend: {
            labelBoxBorderColor: "none"
         }
    }
    options.colors = colors;
    if (result.response.length == 0) {
      data = [{ label: "No Pull Requests", data: 1, color:'#E0E0E0' }];
    }
    else {
      data = result.response;
    }
    $.plot($("#prs_chart"), data, options);

  }

  function updatePRsTableCallback(result){
    $("#prs_tbl_ctr").empty();
    $("#prs_tbl_ctr").html(result);
    makeAsDataTable("#prs_table")
  }

  function clearSearchCriteria(){
    whereDropDownIds = ["month_filter", 
                        "quarter_filter", 
                        "year_filter", 
                        "repo_filter", 
                        "state_filter", 
                        "company_filter", 
                        "user_filter"];
    for ( id in whereDropDownIds ) {
      $("#" + whereDropDownIds[id]).val("");
    }
    filterUpdate();

  }

  function updateMonthlyLineGraphCallback(result){
      var options = {
      series: {
        lines: {
          show: true
        },
        points: {
          show: true
        }
      },
      xaxis: {
        //tickDecimals: 0, 
        mode: "time",
        minTickSize: [1, "month"],
        //min: (new Date("2010/01/01")).getTime(),
        //max: (new Date("2014/01/02")).getTime()
      },
      legend: {
        position: "nw"

      },
      yaxis: {
        minTickSize: 5
      },
      };
      options.colors = colors;

      $.plot($("#company_line_graph"), result.response, options);
  }

  $(document).ready(function () {
    $("#metric_filter").change(function () {
      filterUpdate()
    });

    $("#group_by_filter").change(function () {
      filterUpdate()
    });

    $("#month_filter").change(function () {
      filterUpdate()
    });

    $("#quarter_filter").change(function () {
      filterUpdate()
    });

    $("#year_filter").change(function () {
      filterUpdate()
    });

    $("#repo_filter").change(function () {
      filterUpdate()
    });

    $("#state_filter").change(function () {
      filterUpdate()
    });

    $("#company_filter").change(function () {
      filterUpdate()
    });

    $("#user_filter").change(function () {
      filterUpdate()
    });

    $("#clear_search_criteria_button").click(function () {
      clearSearchCriteria();
      
    });

    
  });

</script>

<h1>GitHub Repository Analytics with Filtering </h1>
<hr>


<h2>Filters</h2>
Metric:
 <select id="metric_filter">
    <option value="prs">Pull Requests</option>
    <option value="days_elapsed">Days Elapsed</option>
  </select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Group By: 
 <select id="group_by_filter">
    <option value="month">Month</option>
    <option value="quarter">Quarter</option>
    <option value="year">Year</option>
    <option value="repository">Repository</option>
    <option value="state">State</option>
    <option value="company" selected>Company</option>
    <option value="user">User</option>
  </select>

<br><br>

<h2>Search Criteria:</h2>
<table>
  <tr>
    <td>
      Month:
    </td>
    <td>
      <select id="month_filter" style="width: 100px;">
        <option value="" selected>All</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Repository:
    </td>
    <td>
      <% @drop_down_id = "repo_filter" %>
      <% @drop_down_data = @repos %>
      <% @drop_down_data_index = "name" %>
      <% @drop_down_empty_label = "All" %>
      <% @drop_down_selected = nil %>
      <% @drop_down_width = "500px" %>
      <%= render 'drop_down' %>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State:
    </td>
    <td>
      <select id="state_filter">
        <option value="" selected>All</option>
        <option value="open">Open</option>
        <option value="merged">Merged</option>
        <option value="closed">Closed (Not Merged)</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      Quarter:
    </td>
    <td>
      <select id="quarter_filter" style="width: 100px;">
        <option value="" selected>All</option>
        <option value="q1">Q1</option>
        <option value="q2">Q2</option>
        <option value="q3">Q3</option>
        <option value="q4">Q4</option>
      </select>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company:
    </td>
    <td>
      <% @drop_down_id = "company_filter" %>
      <% @drop_down_data = @companies %>
      <% @drop_down_data_index = "name" %>
      <% @drop_down_empty_label = "All" %>
      <% @drop_down_selected = nil %>
      <% @drop_down_width = "500px" %>
      <%= render 'drop_down' %>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      Year:
    </td>
    <td>
      <select id="year_filter" style="width: 100px;">
        <option value="" selected>All</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
      </select>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User:
    </td>
    <td>
      <% @drop_down_id = "user_filter" %>
      <% @drop_down_data = @users %>
      <% @drop_down_data_index = "login" %>
      <% @drop_down_empty_label = "All" %>
      <% @drop_down_selected = nil %>
      <% @drop_down_width = "500px" %>
      <%= render 'drop_down' %>
    </td>
    <td>&nbsp;</td>
    <td>
      <button id="clear_search_criteria_button">Clear Search Criteria</button>
    </td>
  </tr>
</table>
<hr>
<%# Pull Requests Section %>
<h2><% @chart_title %></h2><br>
  <% @chart_handle = "prs_chart" %>
  <% @chart_data = @prs_chart_str %>
  <%= render 'pie_chart' %>
  <div id="prs_chart"></div>
<br><br>
  <% @table_handle = "prs_table" %>
  <% @table_data = @prs_data %>
  <% @label_header = @prs_table_label_header %>
  <% @data_header = @prs_table_data_header %>
  <% @label_index_name = @prs_label_index_name %>
  <% @data_index_name = @prs_data_index_name %>

  <div id="prs_tbl_ctr">
    <%= render 'hash_as_table' %>
  </div>
  <script type="text/javascript">makeAsDataTableOnLoad('#<%= @table_handle %>');</script>


<%
=begin %>
<table cellpadding="50px"><tr><td>
  <h2>Contributions by User  <a href="#" title="This pie chart represents all submitted pull requests, sorted by company (Will expand)">?</a>
</h2>
  <br>
  <%# For User Statistics %>
  <% @chart_handle = "user_prs_chart" %>
  <% @chart_data = @prs_by_user_pie_str %>
  <%= render 'pie_chart' %>
  <div id="user_prs_chart"></div>
<br><br>
  <% @table_handle = "user_prs_table" %>
  <% @table_data = @prs_by_user %>
  <% @label_header = "User" %>
  <% @data_header = "Contributions" %>
  <% @label_index_name = "login" %>
  <% @data_index_name = "num_prs" %>
  <div id="user_tbl_ctr">
  <%= render 'hash_as_table' %>
  </div>
  <script type="text/javascript">makeAsDataTableOnLoad('#<%= @table_handle %>');</script>

</td><td>
  <h2>Contributions by Company</h2><br>
  <%# For Company Statistics %>
  <% @chart_handle = "company_prs_chart" %>
  <% @chart_data = @prs_by_company_pie_str %>
  <%= render 'pie_chart' %>
  <div id="company_prs_chart"></div>
<br><br>
  <% @table_handle = "company_prs_table" %>
  <% @table_data = @prs_by_company %>
  <% @label_header = "Company" %>
  <% @data_header = "Contributions" %>
  <% @label_index_name = "name" %>
  <% @data_index_name = "num_prs" %>	
  <div id="company_tbl_ctr">
  <%= render 'hash_as_table' %>
  </div>
  <script type="text/javascript">makeAsDataTableOnLoad('#<%= @table_handle %>');</script>


</td></tr></table>



<script type="text/javascript">
$(function() {

   var data =  [  { "label": "Pivotal", "data" : [["1301641200000", 1], ["1304233200000", 1], ["1309503600000", 2], ["1314860400000", 1], ["1322726400000", 2], ["1333263600000", 1], ["1357027200000", 19], ["1359705600000", 57], ["1362124800000", 39], ["1364799600000", 53], ["1367391600000", 79], ["1370070000000", 95], ["1372662000000", 64], ["1375340400000", 99], ["1378018800000", 85], ["1380610800000", 52], ["1383289200000", 32], ["1385884800000", 63], ["1388563200000", 16]] },   { "label": "", "data" : [["1301641200000", 15], ["1304233200000", 18], ["1306911600000", 8], ["1309503600000", 1], ["1312182000000", 3], ["1314860400000", 6], ["1317452400000", 2], ["1320130800000", 2], ["1322726400000", 8], ["1325404800000", 5], ["1328083200000", 6], ["1330588800000", 3], ["1333263600000", 1], ["1335855600000", 2], ["1338534000000", 1], ["1341126000000", 3], ["1343804400000", 2], ["1349074800000", 1], ["1354348800000", 1], ["1357027200000", 15], ["1359705600000", 55], ["1362124800000", 60], ["1364799600000", 29], ["1367391600000", 30], ["1370070000000", 25], ["1372662000000", 25], ["1375340400000", 40], ["1378018800000", 13], ["1380610800000", 30], ["1383289200000", 26], ["1385884800000", 41]] },   { "label": "VMware", "data" : [["1330588800000", 2], ["1357027200000", 1], ["1359705600000", 15], ["1362124800000", 20], ["1364799600000", 3], ["1367391600000", 7], ["1370070000000", 16], ["1372662000000", 9], ["1375340400000", 8], ["1378018800000", 4], ["1380610800000", 4], ["1383289200000", 3], ["1385884800000", 12], ["1388563200000", 2]] },   { "label": "IBM", "data" : [["1375340400000", 3], ["1378018800000", 7], ["1380610800000", 22], ["1383289200000", 18], ["1385884800000", 22], ["1388563200000", 3]] },   { "label": "Innovation Factory", "data" : [["1362124800000", 1], ["1367391600000", 1], ["1370070000000", 1], ["1372662000000", 6], ["1375340400000", 10], ["1378018800000", 5], ["1380610800000", 3], ["1383289200000", 1], ["1385884800000", 5]] } ];

  var options = {
      series: {
        lines: {
          show: true
        },
        points: {
          show: true
        }
      },
      legend: {
        position: "nw"

      },
      xaxis: {
        //tickDecimals: 0, 
        mode: "time",
        minTickSize: [1, "month"],
        //min: (new Date("2010/01/01")).getTime(),
        //max: (new Date("2014/01/02")).getTime()
      },
      yaxis: {
        minTickSize: 5
      },
      };
          options.colors = colors;

    $.plot($("#company_line_graph"), data, options);

  });

  </script>

  <%# TODO: Refactor to not use demo or placeholder names %>
  <div id="content">
  <div class="line-graph-container">
      <div id="company_line_graph" class="line-graph-placeholder"></div>
    </div>
  </div>
<br><br><br><br><br><br>



<% @table_handle = "prs_days_elapsed_table" %>
<% @table_data = @avg_days_elapsed %>
<% @label_header = "Company" %>
<% @data_header = "Average Days Elapsed" %>
<% @label_index_name = "name" %>
<% @data_index_name = "avg_days_open" %>  
<center>
<table>
<td>
<%= render 'hash_as_table' %>
</td>
</table>
</center>

<script type="text/javascript">
$("#prs_days_elapsed_table").dataTable({
      "sScrollY": "350px", "sScrollX": "650px",
      "bPaginate": false,
      "bSort": false,
      "bAutoWidth" : true,
      "bFilter": true
    } );
</script>

<%
=end %>








