<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      $("#prs_details_table").dataTable(TABLE_OPTIONS);
    });

    function filterUpdate() {
      data = {
        searchCriteria: createSearchCriteriaJSON()
      }

      // Make API calls to update the data
      apiAJAX(data, 'table', 'text', updateTableCallback);
    }

    function updateTableCallback(result){
      $("#table_container").empty();
      $("#table_container").html(result);

      //makeAsDataTable("#metric_table")
      $("table#metric_table").dataTable(TABLE_OPTIONS);
    }
  </script>
<% end %>


<%###############%>
<%# Body Section %>
<%###############%>

<br><br>

<%= render 'shared/search_criteria' %>
<br>
<br>
<b>Pull Request Summary for IBMers</b>
<br>
<br>
<table width="300px" border="1px">
  <thead>
    <tr>
      <td># Open</td>
      <td># Closed</td>
      <td># Merged</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @pr_state_stats[:open] %></td>
      <td><%= @pr_state_stats[:closed] %></td>
      <td><%= @pr_state_stats[:merged] %></td>
      <td><%= @pr_state_stats[:total] %></td>
    </tr>
  </tbody>
</table>

<br>
<hr>
<br>

<div>
<b>Pull Request Details for IBMers</b>
<br>
<br>


<% @table_data = @metric_data %>
<div id="table_container">
  <%= render 'pr_data_table' %>
</div>

</div>
