<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      makeAsDataTableOnLoad('#prs_details_table');
    });

  </script>
<% end %>


<%###############%>
<%# Body Section %>
<%###############%>

<br>
<br>
<b>Pull Request Summary for IBMers</b>
<br>
<br>
<table width="300px" border="1px">
  <thead>
    <tr>
      <td># Open</td>
      <td># Closed</td>
      <td># Merged</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @pr_state_stats[:open] %></td>
      <td><%= @pr_state_stats[:closed] %></td>
      <td><%= @pr_state_stats[:merged] %></td>
      <td><%= @pr_state_stats[:total] %></td>
    </tr>
  </tbody>
</table>

<br>
<hr>
<br>

<div>
<b>Pull Request Details for IBMers</b>
<br>
<br>
<table id="prs_details_table" cellpadding="5px" border="1px">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>User</th>
      <th>Title</th>
      <!--th>Company</th-->
      <th>Repo</th>
      <th>State</th>
      <th>Days Open</th>
      <th>Created</th>
      <th>Closed</th>
      <th>Merged</th>
    </tr>
  </thead>
  <tbody>
    <%  @pr_data.each_with_index { |rec, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= rec['user_name'] %></td>

      <td><a href="<%= PullRequest.get_github_pr_link(rec['repo_full_name'], rec['pr_number'])  %>"><%= rec['title'].titleize %></a></td>
      <!--td><%= rec['company'] %></td-->
      <td><%= rec['repo_name'] %></td>
      <td><%= rec['state'] %></td>
      <td><%= rec['days_open'] %></td>
      <td><%= DateUtils.db_format_to_human_slash_date_format(rec['date_created']) %></td>
      <td><%= DateUtils.db_format_to_human_slash_date_format(rec['date_closed']) %></td>
      <td><%= DateUtils.db_format_to_human_slash_date_format(rec['date_merged']) %></td>
    </tr>
    <% } %>
  </tbody>
</table>
</div>
