<p id="notice"><%= notice %></p>

<p>
  <strong>Repo:</strong>
  <%= @pull_request.repo %>
</p>

<p>
  <strong>User:</strong>
  <%= @pull_request.user %>
</p>

<p>
  <strong>Git:</strong>
  <%= @pull_request.git_id %>
</p>

<p>
  <strong>Pr number:</strong>
  <%= @pull_request.pr_number %>
</p>

<p>
  <strong>Body:</strong>
  <%= @pull_request.body %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pull_request.title %>
</p>

<p>
  <strong>State:</strong>
  <%= @pull_request.state %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @pull_request.date_created %>
</p>

<p>
  <strong>Date closed:</strong>
  <%= @pull_request.date_closed %>
</p>

<p>
  <strong>Date update:</strong>
  <%= @pull_request.date_updated %>
</p>

<p>
  <strong>Date merged:</strong>
  <%= @pull_request.date_merged %>
</p>

<%= link_to 'Edit', edit_pull_request_path(@pull_request) %> |
<%= link_to 'Back', pull_requests_path %>
