<%################%>
<%# Extra Headers %>
<%################%>
<script src="/assets/jquery.multiselect.filter.js"></script>
<script src="/assets/jquery.multiselect.filter.css"></script>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    function restrictSelections() {

    if (($("#metric_filter").val() != "prs") && ($("#metric_filter").val() != "avg_days_open")){
        $("#state_filter").val(""); // Reset state filter to default value
        $("#state_filter").prop('disabled', true); // Disable state filter
        $("#group_by_filter option[value=state]").prop('disabled', true); // Disable state option in "Group By" filter
      }     
      else {
        $("#state_filter").prop('disabled', false); // Enable state filter
        $("#group_by_filter option[value=state]").prop('disabled', false); // Enable state option in "Group By" filter
      }

      // Restrict view type
      if (($("#metric_filter").val() != "prs") && ($("#metric_filter").val() != "commits") && ($("#metric_filter").val() != "avg_days_open") )  {
        $("#view_type").val("bar"); // Set to bar view
        $("#view_type option[value=line]").attr('disabled','disabled'); // Disable line option in "View by" button
        $("#view_type option[value=pie]").attr('disabled','disabled');
      }
      else {
        $("#view_type option[value=line]").removeAttr('disabled'); // Disable line option in "View by" button
        $("#view_type option[value=pie]").removeAttr('disabled');
        //$("#view_type").val("pie"); 
      }

    }

    function filterUpdate() {

      values = createSearchCriteriaJSON()
      localStorage.setItem('vals', JSON.stringify(values));
      viewType = $("#view_type").val();

      data = {
        metric: $("#metric_filter").val(),
        groupBy: $("#group_by_filter").val(),
        searchCriteria: values
      }

      // Restrict state filter and state Group By option
      restrictSelections();

      // Make API calls to update the data in table
      analyticsAJAX(data, 'table', 'text', updateTableCallback);     

      // Update Chart
      data.rollupVal = $("#rollup").val();
      analyticsAJAX(data, viewType, 'json', updateChartCallback);

      // Update the titles
      $("#chart_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
      $("#table_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
    }

    function updateChartCallback(result){
      $("#metric_chart").empty();

      if (result.response.length == 0) {
        data = [{ label: "No Pull Requests", data: 1, color:'#E0E0E0' }];
      }
      else {
        data = result.response;
      }

      viewType = $("#view_type").val()

      if (viewType == "pie") {
        options = PIE_OPTIONS;
      }
      else if (viewType == "bar") {
        result = parsePieToBar(data);
        var data = result.data;
        var options = result.options;
      }
      else {
        options = LINE_OPTIONS;
      }

      $.plot($("#metric_chart"), data, options);
    }
    
    function updateTableCallback(result){
      $("#table_container").empty();
      $("#table_container").html(result);
      $("#metric_table").dataTable(ANALYTICS_TABLE_OPTIONS);
    }

    function downloadCSV(result){
      console.log(result);
      
      var CSV = result;
      window.URL = window.webkitURL || window.URL;
      var contentType = 'text/csv';
      var csvFile = new Blob([CSV], {type: contentType});
      var a = document.createElement('a');
      a.download = 'graf_output.csv';
      a.href = window.URL.createObjectURL(csvFile);//
      //a.textContent = 'Download CSV';
      a.onclick = destroyClickedElement;
      a.dataset.downloadurl = [contentType, a.download, a.href];
      console.log(a.dataset.downloadurl)
      console.log(a.href)
      document.body.appendChild(a);
      a.click();
      //window.location = a.href;
      //window.open($("#download_button").attr('href'),'_blank')
      
    }

    function destroyClickedElement(event)
    {
      document.body.removeChild(event.target);
    }
  
    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      $("#metric_filter").change(function () {
        filterUpdate()
      });

      $("#group_by_filter").change(function () {
        filterUpdate()
      });

      $("#view_type").change(function () {
        filterUpdate()
      });
      $("#rollup").change(function () {
        filterUpdate()
      });

      $("#download").click(function () {
        data = {
          metric: $("#metric_filter").val(),
          groupBy: $("#group_by_filter").val(),
          rollupVal: $("#rollup").val(),
          searchCriteria: createSearchCriteriaJSON()
        }
        analyticsAJAX(data, 'csv', 'text', downloadCSV);
      });

      // Load local storage
      loadLocalStorage();

      // Load initial chart
      filterUpdate();
    });

  </script>
<% end %>



<%###############%>
<%# Body Section %>
<%###############%>
<%= render 'shared/last_load' %>

<h2>Organizations</h2>
<div style="float:left">
  <% @drop_down_id = "org_filter" %>
  <% @drop_down_data = @organizations %>
  <% @drop_down_data_index = "login" %>
  <% @drop_down_empty_label = "All" %>
  <% @drop_down_selected = nil %>
  <% @drop_down_width = "500px" %>
  <%= render 'shared/drop_down' %>
</div>

<br><br>
<h2>Filters</h2>
Metric:
 <select id="metric_filter">
    <option value="prs">Pull Requests</option>
    <option value="avg_days_open">Average Days Opened</option>
    <option value="percent_merged">Percent Merged</option>
    <option value="commits">Commits</option>
  </select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Group By: 
 <select id="group_by_filter">
    <option value="month">Month</option>
    <option value="quarter">Quarter</option>
    <option value="year">Year</option>
    <option value="repository">Repository</option>
    <option value="state">State</option>
    <option value="company" selected>Company</option>
    <option value="user">User</option>
    <option value="name">Name</option>
  </select>

<br><br>

<%= render 'shared/search_criteria' %>


<hr>

<div style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;" >
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Requests Grouped By Company</p>
<a href="#" class="tooltip"><%= image_tag "tooltip.gif" %><span style="font-size: 15px;">  
This pie chart represents all pull requests submitted to the Cloud Foundry Github repositories during the specifed time period. <br> Each slice represents a separate company, and the size of each slice is proportional to the company's quantity of contributions. 
<br>
Each of the top 5 contributers have their own slice of the pie chart. The remaining contributers are then merged together into the "Others" slice.
</span></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
<div>
    View As:
    <select id="view_type" >
        <option value="pie">Pie Chart</option>
        <option value="bar">Bar Chart</option>
        <option value="line">Line Chart</option>
    </select>
    Rollup:
    <select id="rollup" >
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
    </select>    
  </div>
</div>


<%# ----------------- %>
<%# This is the Chart %>
<%# ----------------- %>
<div id="metric_chart"></div>


<%# ----------------- %>
<%# This is the Table %>
<%# ----------------- %>
<br><br>
<p id="table_title" style="margin-bottom: 0; padding-bottom: 0; font-size:20px; display:inline;"> 
Pull Requests Sorted By Company
</p>


<a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 15px;">  
This table displays the amount of pull requests submitted by each contributer.
</span></a>
<button onclick="window.location = '/report'">Drill Down</button>
<button id="download">Download to CSV</button>

<div id="table_container"><%= image_tag "spinner.gif" %></div>