<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });
  
    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      setupAnalyticsReady();
    });

  </script>
<% end %>


<%###############%>
<%# Body Section %>
<%###############%>
<%= render 'shared/last_load' %>
<br>
<% @filter_changed_function = 'analyticsFilterChanged' %>
<%= render 'shared/search_criteria' %>

<div style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;" >
  <h2 id="chart_title"> Pull Requests Grouped By Company
    <a href="#" class="tooltip"><%= image_tag "tooltip.gif" %>
      <span style="font-size: 15px;">This pie chart represents all pull requests submitted to the Cloud Foundry Github repositories during the specifed time period. 
        <br> Each slice represents a separate company, and the size of each slice is proportional to the company's quantity of contributions.
        <br>
        Each of the top 5 contributers have their own slice of the pie chart. The remaining contributers are then merged together into the "Others" slice.
      </span>
    </a>
  </h2>
  
  <div>
    View As:
    <select id="view_type" >
        <option value="pie">Pie Chart</option>
        <option value="bar">Bar Chart</option>
        <option value="line">Line Chart</option>
    </select>

    &nbsp;&nbsp;&nbsp;Rollup:
    <select id="rollup" >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20" selected>20</option>
    </select>    

    &nbsp;&nbsp;&nbsp;Timeframe:
    <select id="timeframe" > 
        <option value="month">Month</option>
        <option value="quarter">Quarter</option>
        <option value="year">Year</option>
    </select>
  </div>
</div>



<%# ----------------- %>
<%# This is the Chart %>
<%# ----------------- %>
<br>
<div>
<div id="metric_chart"></div>
</div>
<%# ----------------- %>
<%# This is the Table %>
<%# ----------------- %>
<br>
<div  style="display: inline-block;">
  <h2 id="chart_title" style="display: inline-block;position:relative;"> Pull Requests Sorted By Company </h2>
  &nbsp;&nbsp;
  <a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> 
  	<span style="font-size: 15px;">  
This table displays the amount of pull requests submitted by each contributer.
    </span>
  </a>
</div>
<br>
<button onclick="window.location = '/report'">Drill Down</button>
<button id="download">Download to CSV</button>
<br><br>
<div id="loader_1" style="height:600px"><%= image_tag "spinner.gif" %></div>
<div id="table_container"></div>
