<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    function restrictSelections() {

    if (($("#metric_filter").val() != "prs") && ($("#metric_filter").val() != "avg_days_open")){
        $("#state_filter").val(""); // Reset state filter to default value
        $("#state_filter").prop('disabled', true); // Disable state filter
        $("#group_by_filter option[value=state]").prop('disabled', true); // Disable state option in "Group By" filter
      }     
      else {
        $("#state_filter").prop('disabled', false); // Enable state filter
        $("#group_by_filter option[value=state]").prop('disabled', false); // Enable state option in "Group By" filter
      }

      // Restrict view type
      if (($("#metric_filter").val() != "prs") && ($("#metric_filter").val() != "commits"))  {
        $("#view_type").val("bar"); // Set to bar view
        $("#view_type option[value=line]").attr('disabled','disabled'); // Disable line option in "View by" button
        $("#view_type option[value=pie]").attr('disabled','disabled');
      }
      else {
        $("#view_type option[value=line]").removeAttr('disabled'); // Disable line option in "View by" button
        $("#view_type option[value=pie]").removeAttr('disabled');
        //$("#view_type").val("pie"); 
      }

    }

    function filterUpdate() {
      data = {
        metric: $("#metric_filter").val(),
        groupBy: $("#group_by_filter").val(),
        rollupVal: $("#rollup").val(),
        searchCriteria: createSearchCriteriaJSON()
      }

      restrictSelections();
      // Restrict state filter and state Group By option

      // Make API calls to update the data
      analyticsAJAX(data, $("#view_type").val(), 'json', updateChartCallback);
      analyticsAJAX(data, 'table', 'text', updateTableCallback);

      

      // Update the titles
      $("#chart_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
      $("#table_title").html($("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text());
    }

    function updateChartCallback(result){
      $("#metric_chart").empty();

      if (result.response.length == 0) {
        data = [{ label: "No Pull Requests", data: 1, color:'#E0E0E0' }];
      }
      else {
        data = result.response;
      }

      viewType = $("#view_type").val()

      if (viewType == "pie") {
        options = PIE_OPTIONS;
      }
      else if (viewType == "bar") {
        result = parsePieToBar(data);
        var data = result.data;
        var options = result.options;
      }
      else {
        options = LINE_OPTIONS;
      }

      $.plot($("#metric_chart"), data, options);
    }
    
    function updateTableCallback(result){
      $("#table_container").empty();
      $("#table_container").html(result);

      $("#metric_table").dataTable(ANALYTICS_TABLE_OPTIONS);
    }

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      $("#metric_filter").change(function () {
        filterUpdate()
      });

      $("#group_by_filter").change(function () {
        filterUpdate()
      });

      $("#view_type").change(function () {
        filterUpdate()
      });
      $("#rollup").change(function () {
        filterUpdate()
      });

      // Load initial  chart
      filterUpdate();
    });

  </script>
<% end %>



<%###############%>
<%# Body Section %>
<%###############%>
<% if @last_updated %>
  <div style="float:right">Last Data Load: <%= @last_updated.load_start_time.strftime("%m/%d/%Y %I:%M%P") %></div>
<% end %>

<h2>Filters</h2>
Metric:
 <select id="metric_filter">
    <option value="prs">Pull Requests</option>
    <option value="avg_days_open">Average Days Opened</option>
    <option value="percent_merged">Percent Merged</option>
    <option value="commits">Commits</option>
  </select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Group By: 
 <select id="group_by_filter">
    <option value="month">Month</option>
    <option value="quarter">Quarter</option>
    <option value="year">Year</option>
    <option value="repository">Repository</option>
    <option value="state">State</option>
    <option value="company" selected>Company</option>
    <option value="user">User</option>
  </select>

<br><br>

<%= render 'shared/search_criteria' %>


<hr>

<div style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;" >
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Requests Grouped By Company</p>
<a href="#" class="tooltip"><%= image_tag "tooltip.gif" %><span style="font-size: 15px;">  
This pie chart represents all pull requests submitted to the Cloud Foundry Github repositories during the specifed time period. <br> Each slice represents a separate company, and the size of each slice is proportional to the company's quantity of contributions. 
<br>
Each of the top 5 contributers have their own slice of the pie chart. The remaining contributers are then merged together into the "Others" slice.
</span></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
<div>
    View As:
    <select id="view_type" >
        <option value="pie">Pie Chart</option>
        <option value="bar">Bar Chart</option>
        <option value="line">Line Chart</option>
    </select>
    Rollup:
    <select id="rollup" >
        <option value="5" selected>5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>    
  </div>
</div>

<%# ----------------- %>
<%# This is the Chart %>
<%# ----------------- %>
<div id="metric_chart"></div>


<%# ----------------- %>
<%# This is the Table %>
<%# ----------------- %>
<br><br>
<p id="table_title" style="margin-bottom: 0; padding-bottom: 0; font-size:20px; display:inline;"> 
Pull Requests Sorted By Company
</p>


<a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 15px;">  
This table displays the amount of pull requests submitted by each contributer.
</span></a>

<div id="table_container"><%= image_tag "spinner.gif" %></div>