<p id="notice"><%= notice %></p>

<p>
  <strong>Git:</strong>
  <%= @org.git_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @org.name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @org.date_created %>
</p>

<p>
  <strong>Date updated:</strong>
  <%= @org.date_updated %>
</p>

<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %>
