<select id="<%= @drop_down_id %>"
  <%= @drop_down_width ? raw("style='width: #{@drop_down_width};'") : ""  %>
  class="multiselect" multiple="multiple" 
  
>


  <% @drop_down_data.each {|entry| 
  	if entry[@drop_down_data_index]
  	%>
  <option value="<%= entry[@drop_down_data_index] %>" <%= @drop_down_selected == entry[@drop_down_data_index] ? "selected" : ""  %>> <%= entry[@drop_down_data_index] %></option>	
  <% end  
  } if @drop_down_data %>
</select>