<script type="text/javascript">

  //
  // Global Variables
  //
  var runningLoadId = '<%= @running_load ? @running_load.id : -1 %>';
  var lastMsgId = '<%= @running_msgs ? @running_msgs.last.id : -1 %>';
  var checkInterval = null;

  var ERROR_LOG_LEVEL = '<%= @error_log_level %>';
  var CHECK_INTERVAL_TIME = 1000;

  //
  // Initialize Javascript Events
  //
  $(document).ready(function () {
    $("#startLoadButton").click(function () {
      startLoad()
    });

    $("#getLoadStatusButton").click(function () {
      getLoadStatus()
    });

    <% if @running_load %>
      checkInterval = setInterval(getLoadStatus, CHECK_INTERVAL_TIME);
    <% end %>
  });


  //
  // This method is called to check on the status of a load
  //
  function getLoadStatus () {
    if(runningLoadId == -1) {
      alert ('There is no current load running');
      return;
    }

    function onDataReceived(response) {
      // Process any messages
      if (response.messages.length > 0) {
        // Add them to the output log
        for (var i in response.messages) {
          writeToLoadLog(response.messages[i]);
        }

        // Update lastMsgId
        lastMsgId = response.messages[response.messages.length-1].id

        // Scroll down to the page bottom
        window.scrollTo(0,document.body.scrollHeight);
      }
      
      // End the process if the success criteria is met
      if (response.completed == "true") {
        loadCompleted()
      }
      
    }

    url = "load_status?load=" + runningLoadId
    if (lastMsgId != -1) {
      url += "&last_msg=" + lastMsgId
    }

    $.ajax({
        url: url,
        method: 'GET',
        dataType: "json",
        success: onDataReceived
    });
  }

  //
  // Method which start off a load
  //
  function startLoad() {
    // Disable start button
    $("#startLoadButton").attr("disabled", "disabled");

    // Show the spinner
    $("#spinnerCtr").css("visibility","visible");

    // Clear the log section
    clearLoadLog()

    function onDataReceived(response) {
      // Set the runningLoadId
      runningLoadId = response

      // TODO: Add the load entry to the top table

      // Do an initial getLoadStatus
      getLoadStatus()

      // Start the getLoadStatus (10 seconds)
      checkInterval = setInterval(getLoadStatus, CHECK_INTERVAL_TIME);
    }

    $.ajax({
        url: "start_load",
        method: 'GET',
        success: onDataReceived
    });
  }

  //
  // Method to finish a completed load
  //
  function loadCompleted() {
    // Turn off check timer
    clearInterval(checkInterval);

    // Enable button
    $("#startLoadButton").removeAttr("disabled");

    // Hide spinner
    $("#spinnerCtr").css("visibility","hidden");

    // Clear out runningLoadId and lastMsgId
    runningLoadId = -1
    lastMsgId = -1
  }

  //
  // Helper method to clear the load log
  //
  function clearLoadLog () {
   $("#loadLogCtr").empty()
  }

  //
  // Writes a msg JSON object to the load log output
  //
  function writeToLoadLog (msg_obj) {
    //log_level
    logEntry = document.createElement("div");
    //$("#spinnerCtr").css("visibility","visible");
    if (msg_obj.log_level == ERROR_LOG_LEVEL){
      logEntry.style.color= "red";
    }

    logEntry.innerHTML = msg_obj.log_date + ": " + msg_obj.msg
    $("#loadLogCtr").append(logEntry)
  }
</script>


<h1>GitHub API Data Load</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Start Time</th>
      <th>Complete Time</th>
      <th>Initial Load</th>
    </tr>
  </thead>

  <tbody>
    <% @github_loads.each do |github_load| %>
      <tr>
        <td><%= link_to "#{github_load.id}", github_load %></td>
        <td><%= github_load.load_start_time %></td>
        <td><%= github_load.load_complete_time ? github_load.load_complete_time : "(not yet complete)" %></td>
        <td><%= github_load.initial_load %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<button id="startLoadButton" <%= @running_load ? raw("disabled='disabled'") : "" %>>Start Load</button>
<div id="spinnerCtr" style="<%= @running_load ? "" : raw("visibility: hidden;") %>display: inline;"><%= image_tag "spinner_small.gif" %></div>
<button id="getLoadStatusButton" style="visibility: hidden">Get Load Status</button>

<br><br>

<%# TODO: Turn this into a fixed size, scrollable text box %>
<div style="font-weight:bold;">Load Log</div>
<div id="loadLogCtr">
  <%  if @running_msgs 
        @running_msgs.each do |msg| %>
          <div <%= msg.log_level == 1 ? raw("style='color:red'") : "" %>><%= "#{msg.log_date}: #{msg.msg}" %></div>
  <%    end
      end %>
</div>