<!DOCTYPE html>
<html>
<head>
  <title>GRAF</title>
  <% require 'constants' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:extra_headers) %>
</head>
<body>

<div class="banner">GitHub Repository Analytics with Filtering</div><a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 12px;">  
GitHub Repository Analytics with Filtering (GRAF) is a web service that has the ability to collect and visually represent useful statistics on various Github repositories. At the moment, this application is only collecting data on repositories hosted by the "CloudFoundry" Github organization. We plan to expand this application to collect data on repositories from other organizations (Openstack, Openshift, etc.) in the near future.
<br><br>
These statistics are collected through the Github API. We use the API's functions to gather information on every "Pull Request" that has been contributed to the CloudFoundry repositories. Once this data has been successfully collected and stored into our database, our application allows the user to generate figures that are customized by timeframe, repository, company, etc.
<br><br>
Company affiliation is determined by polling each Github user's profile. If a user does not have an affliated company listed on their profile, the application then checks to see whether the user is a member of any corporate Github organizations. If they are not, the user is assumed to be independent.
<br>
</span> </a>

<div class="header-links">[
  <a href="#" onclick="window.location = '/analytics'">Analytics</a> | <a href="#" onclick="window.location = '/report'">Reports</a>]
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#" onclick="window.location = '/release_notes/20140124'">v.20140124</a>
</div>
<hr>

<%= yield %>

</body>
</html>
