<!DOCTYPE html>
<html>
<head>
  <title>GRAF</title>
  <% require 'constants' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if Constants.get_settings["community"] == 'cloudfoundry' %>
  <link rel="icon" href="http://cloudfoundry.org/images/favicon.ico" type="image/png">
  <% else %>
    <link rel="icon" href="https://d3oypxn00j2a10.cloudfront.net/0.12.6/favicon_whale.png" type="image/png">
  <% end %>
  <%= yield(:extra_headers) %>
</head>
<meta charset="UTF-8">
<body>
<div id='content' >
<div class='page' style='height:100%; display:block;'>
<div class="banner">
  <div style='display:inline;height:90px;width:960px;'>
    <table style='width:960px;'><tbody><tr>
    <% community = Constants.get_settings["community"]
    if community == 'cloudfoundry' %>
      <td style='float:left;padding: 4px 10px;'>
        <a href="http://cloudfoundry.org/index.html">
          <img src="http://cloudfoundry.org/images/logo_org.png" alt="Community Analytics for the Cloud Foundry Foundation." style='height:80px;width:120px;'>
       </a>
      </td>
      <td style='display:block;width:730px;padding-bottom: 0px;margin-top:10px;'>
        <span style='font-size: 22px;font-weight:500;line-height:30px;letter-spacing: 0px;'> Community Analytics: Cloud Foundry Foundation </span>
    <% else %>
      <td style='float:left;padding: 4px 10px;'>
        <a href="https://www.docker.com/">
          <img src="https://d3oypxn00j2a10.cloudfront.net/0.12.6/img/homepage/docker-whale-home-logo-@2x.png?e2946566d408" alt="Community Analytics for the Docker Community." style='height:80px;width:120px;'>
        </a>
      </td>
      <td style='display:block;width:730px;padding-bottom: 0px;margin-top:10px;'>
        <span style='font-size: 22px;font-weight:500;line-height:30px;letter-spacing: 0px;'> Community Analytics: Docker </span>
  <% end %>
        <span>
          <a href="#" class="tooltip"> <%= image_tag "tooltip.gif" %> <span style="font-size: 12px;"> <br> 
            GitHub Repository Analytics with Filtering (GRAF) is a web service that has the ability to collect and visually represent useful statistics on various Github repositories. At the moment, this application is only collecting data on repositories hosted by the "Cloud Foundry" Github organization. We plan to expand this application to collect data on repositories from other organizations (Openstack, Openshift, etc.) in the near future. <br><br>
            These statistics are collected through the Github API. We use the API's functions to gather information on every "Pull Request" that has been contributed to the Cloud Foundry repositories. Once this data has been successfully collected and stored into our database, our application allows the user to generate figures that are customized by timeframe, repository, company, etc.
            <br><br>
            Company affiliation is determined by polling each Github user's profile. If a user does not have an affliated company listed on their profile, the application then checks to see whether the user is a member of any corporate Github organizations. If they are not, the user is assumed to be independent.
          </a><br><br><br><br>
        </span>
      </td>
      <td>
         <div class="bannermenu" style='display: inline;right:4px;'>
           <ul id='menu-bannermenu' style='margin-top: 0px;margin-bottom: -10px;'>
             <br style='line-height: 42px;'>
             <li class='menu-item current-menu-item'><a href="#" onclick="window.location = '/dashboard'">Dashboard</a></li>
             <li class='menu-item'><a href="#" onclick="window.location = '/analytics'">Analytics</a></li>
             <li class='menu-item'><a href="#" onclick="window.location = '/report'">Reports</a></li>
           </ul>
         </div>
      </td>
    </tr></tbody></table>
  </div>
</div>
<hr class='theme'></hr>
<%= yield %>
</div>
<div id="footer_content" class='footer'>
  <div class='footer_content'>
    <span style='margin-left:40px'>Copyright© 2014 All rights reserved</span>
    <span style='margin-left:40px''> 
      <a href="#" onclick="window.location = '/release_notes/_system_notes'">Release: v1.0.0  build #20141126</a>
    </span>
    <%= render 'shared/last_load' %>
  </div>
</div>
</div>
</body>
</html>
